*{
	font-family:Montaga;
}
#services_Offered{
	margin top:30px;

}
.services-coloumn{
	padding:20px 
	text-align:center;
}
.services-content{
	margin-top: 30px;
}
#gallery{
	margin-top: 100px;
}
#rowImg{
	 border-radius: 40px;
}
#logo{
	 border-radius: 50%;
}
button{
	margin-top: 100px;
}
footer{
	padding:20px;s
	margin-top: 100px;
	background-color: black;
	color:#FFFFFF;
}
.footer-link{
	color:#FFFFFF;
}
.footer-link:hover{
	color:#FFFFFF;
}
ul{
	list-style: none;
}